<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! My name is Alvaro Cerezo and I am an architect and urban planner specializing in Data Science and GIS technologies. I hold a Msc in Architecture & Urban planning from Universidad Europea de Madrid and a Master in City & Technology from the Institute of Advanced Architecture of Catalonia.
            </p>
            <p class="paragraph-text justify-text">
               My research interests are focusing on the intersection of Urban Planning and Internet of Things. Currently, I am focused on building location intelligence applications and interactive maps to provide multiple stakeholders with new insights on the urban context. 
            </p>
            <p class="paragraph-text justify-text">
                I consider myself as a very dedicated and hard-worker professional that have had the great opportunity to be part of several multidisciplinary and multicultural teams both in my working and education career.
            </p>
            <br>
            <div>
                <a id="resume" class="semi-transparent-button with-border resume-button" href="assets/images/CV_Alvaro Cerezo Carrizo.pdf">Download CV</a>
            </div>
        </div>
    </section>
</div>
