<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I would be glad to answer your questions. I'm open for collaborations, especially on open source projects of urban data platforms. If you have got a project in mind, leave me a note for further discussion and collaboration inquiries.
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me at my email: <a href="mailto:alvaro.cerezo.carrizo@gmail.com">alvaro.cerezo.carrizo@gmail.com</a>. It might take me some time to get back, but rest assured that you will hear from me.
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:alvaro.cerezo.carrizo@gmail.com"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/acerezoc"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Linkedin">
                    <a href="https://linkedin.com/in/alvaro-cerezo-carrizo"><i class="head-icon fab fa-linkedin"></i></a>
                </span> 
                <span class="hint--bottom bottom-link" aria-label="Home">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-house"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>