<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="Title_01" class="semi-transparent-button with-border white-button" onclick="selected('Title_01')">Data analysis & viz</a>
                    <a id="Title_02" class="semi-transparent-button with-border white-button" onclick="selected('Title_02')">Computational design</a>
                    <a id="Title_03" class="semi-transparent-button with-border white-button" onclick="selected('Title_03')">Urban planning</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>